/* styles for the TP4: Tic-Tac-Toe project */
#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* Creates 3 equal columns */
    gap: 10px;
    background-color: #333;
    width: fit-content;
    padding: 10px;
    margin: 20px auto;
}
 
.gameSpace {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}